@model IEnumerable<CPRG102.Final.Roland.Domain.Asset>

@{
    ViewData["Title"] = "Index";
}

<div id="uxDisplay">
    <select id="assetTypes" asp-items="ViewBag.AssetTypes">
    </select>
    <select id="assignedOrUnassigned">
        <option value="0">All Assets</option>
        <option value="1">Assigned</option>
        <option value="2">Unassigned</option>
    </select>

    <label for="employeeNumber">Employee Number</label>
    <input name="employeeNumber" id="employeeNumber">

</div>
<br />
<div id="results"></div>

@section Scripts
{
    <script>
        loadStudents(0, null, 0);
        debugger;
        $(document).ready(function () {
            $('#assetTypes').change(function () {
                filterByParameters();
            });
            $('#assignedOrUnassigned').change(function () {
                filterByParameters();
            });
            $('#employeeNumber').on('input', function () {
                filterByParameters();
            });
        });

        function filterByParameters() {
            var assetType = $('#assetTypes').val();
            var assignedOrUnassigned = $('#assignedOrUnassigned').val();
            var employeeNumber = $('#employeeNumber').val();
            loadStudents(assignedOrUnassigned, employeeNumber, assetType);
        }

        function loadStudents(assignedOrUnassigned, employeeNumber, assetType) {
            $.ajax({
                url: "/Asset/GetFilteredAssets",
                type: "GET",
                data: { assignedOrUnassigned: assignedOrUnassigned, employeeNumber: employeeNumber, assetTypeId: assetType}
            }).done(function (data) {
                $('#results').html(data)
            });
        }
    </script>
}