@model IEnumerable<CPRG102.Final.Roland.Domain.Asset>

@{
    ViewData["Title"] = "Index";
}

<div id="uxDisplay">
    <div class="form-group row">
        <div class="col-sm-2 filtersLabel">
            <h5>Filter Assets By:</h5>
        </div>
        <select id="assetTypes" class="form-control col-lg-2" asp-items="ViewBag.AssetTypes">
        </select>
        <select id="assignedOrUnassigned" class="form-control col-lg-2">
            <option value="0">All Assets</option>
            <option value="1">Assigned</option>
            <option value="2">Unassigned</option>
        </select>

        <input name="employeeNumber" id="employeeNumber" class="form-control col-lg-2" placeholder="Employee#">
    </div>
</div>
    <br />
    <div id="results"></div>

    @section Scripts
{
        <script>
            loadStudents(0, null, 0);
            $(document).ready(function () {
                $('#assetTypes').change(function () {
                    filterByParameters();
                });
                $('#assignedOrUnassigned').change(function () {
                    filterByParameters();
                });
                $('#employeeNumber').on('input', function () {
                    filterByParameters();
                });
            });

            function filterByParameters() {
                var assetType = $('#assetTypes').val();
                var assignedOrUnassigned = $('#assignedOrUnassigned').val();
                var employeeNumber = $('#employeeNumber').val();
                loadStudents(assignedOrUnassigned, employeeNumber, assetType);
            }

            function loadStudents(assignedOrUnassigned, employeeNumber, assetType) {
                $.ajax({
                    url: "/Asset/GetFilteredAssets",
                    type: "GET",
                    data: { assignedOrUnassigned: assignedOrUnassigned, employeeNumber: employeeNumber, assetTypeId: assetType }
                }).done(function (data) {
                    $('#results').html(data)
                });
            }
        </script>
    }
